@tailwind base;
@tailwind components;
@tailwind utilities;

.trans {
    @apply duration-200 ease-linear transition-all;
}

.lds-roller {
    @apply relative w-[80px] h-[80px];
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    @apply block absolute w-[5px] h-[5px] rounded-full bg-[blue] -mt-[4px] mb-0 ml-0 -mr-[4px];
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

.loading-spin {
    @apply w-[25px] h-[25px] relative grid place-items-center overflow-hidden;
    animation: dis-appear 2s ease-in-out infinite;
}

.spin-sector {
    border: 4px solid transparent;
    animation: rotate var(--duration) var(--timing) infinite;
    @apply absolute w-full h-full mix-blend-overlay rounded-[50%] pointer-events-none;
}

.spin-sector-1 {
    border-top-color: green;
    --timing: ease-in-out;
    --duration: 0.75s;
}

.spin-sector-2 {
    border-left-color: rgb(252, 126, 0);
    --timing: ease-in-out;
    --duration: 1.25s;
}

.spin-sector-3 {
    border-right-color: blueviolet;
    --timing: ease-in-out;
    --duration: 1.5s;
}

.staff-main {
    @apply bg-clr-5 mx-auto w-full min-h-[115vh] pt-16 relative;
}

.profile-main {
    @apply w-[95vw] max-w-[1200px] mx-auto px-3;
}

.profile-header {
    @apply w-full flex justify-between items-center mb-7
}

.profile-header-h1 {
    @apply text-2xl text-clr-8 font-semibold tracking-wide
}

.change-pswd-btn {
    @apply flex px-2 py-1 gap-2 items-center;
}

.key {
    @apply text-4xl text-clr-1 rounded-full p-2 bg-clr-9;
}

.key:hover {
    @apply bg-clr-1 text-clr-0;
}

.change-pswd-btn div {
    @apply flex flex-col gap-0.5 text-sm items-start
}

.change-pswd-btn div span:nth-child(1) {
    @apply text-clr-8
}

.change-pswd-btn div span:nth-child(2) {
    @apply text-clr-3
}

.change-pswd-btn div:hover {
    @apply text-clr-1
}

.profile-cards {
    @apply flex flex-col gap-5
}

.profile-card {
    @apply bg-clr-0 px-2 py-3 w-full rounded-lg;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-avatar {
    @apply relative rounded-full overflow-hidden w-[10rem] h-[10rem] object-cover border-[0.3125rem] border-clr-5 flex-shrink-0;
}

.profile-avatar img {
    @apply w-full h-full object-cover
}

.profile-card-center {
    @apply w-full flex gap-5 items-center
}

.profile-edit-btn {
    @apply text-sm text-clr-4 trans
}

.profile-edit-btn:hover {
    @apply text-clr-6 underline
}

.profile-card-info {
    @apply flex justify-between items-center py-1.5 border-b-[0.08125rem]
}

.cam-ico {
    @apply absolute top-0 right-0 z-[9999] w-full h-full flex items-center justify-center
}

.modal {
    @apply relative z-[999]
}

.modal-main {
    @apply fixed inset-0 overflow-y-auto
}

.modal-center {
    @apply flex min-h-full items-center justify-center p-4 text-center
}

.modal-panel {
    @apply flex flex-col w-full max-w-md transform overflow-hidden rounded-2xl bg-white px-5 pt-2 text-left align-middle shadow-xl transition-all gap-2
}

.modal-close-btn {
    @apply absolute top-2 right-3 text-2xl justify-center rounded-md border border-transparent bg-clr-1 px-3 py-1.5 font-medium text-clr-0;
}

.modal-close-btn:focus-visible {
    @apply ring-2 ring-offset-2 ring-clr-4
}

.modal-close-btn:hover {
    @apply bg-clr-4
}

.modal-close-btn:focus {
    @apply outline-none;
}

.modal-header {
    @apply text-xl font-semibold tracking-wider w-fit
}

.modal-form {
    @apply w-full flex flex-col gap-5 mt-2
}

.modal-btn-container {
    @apply flex gap-3 absolute bottom-0 mb-2 self-end justify-end mt-10
}

.save-btn, .del-btn {
    @apply px-6 trans
}

.save-btn:disabled, .del-btn:disabled {
    @apply bg-clr-7 text-clr-3
}

.save-btn:not([disabled]) {
    @apply text-clr-0 bg-clr-1
}

.del-btn:not([disabled]) {
    @apply text-clr-0 bg-red-400
}

.del-btn:hover:not([disabled]) {
    @apply text-clr-7 bg-red-600
}

.save-btn:hover:not([disabled]) {
    @apply text-clr-7 bg-clr-6
}

.cancel-btn {
    @apply border-[0.08125rem] border-clr-8 px-5 trans
}

.cancel-btn:hover {
    @apply text-clr-8 bg-clr-7
}

.cancel-btn, .save-btn, .del-btn {
    @apply text-[14px] py-1.5 tracking-wider font-medium
}

.modal-form-group {
    @apply flex flex-col gap-1
}

.modal-form-group label, select option {
    @apply text-[14px] text-clr-2 tracking-wider font-medium
}

.modal-form-group input, .modal-form-group select {
    @apply rounded-none border-[0.08125rem] border-clr-8 p-0.5 tracking-wide text-[15px] text-clr-2
}

.modal-form-group input:focus, .modal-form-group select:focus {
    @apply border-[0.125rem] border-clr-1 outline-none
}

.profile-avatar-btn {
    @apply flex flex-col gap-5 w-fit mt-5 mb-2 text-clr-1 tracking-wider trans
}

.profile-avatar-btn:hover {
    @apply text-clr-6
}

.change-avatar, .del-avatar {
    @apply flex gap-3 items-center cursor-pointer;
}

.section-form {
    @apply mx-auto mb-10 w-[90vw] max-w-[550px] px-5 py-3 rounded-lg bg-clr-7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header {
    @apply text-3xl text-clr-2 font-semibold tracking-wider;
}

.form {
    @apply mt-5 flex flex-col gap-5;
}

.form-group {
    @apply flex flex-col gap-1.5
}

.form-group label {
    @apply font-medium tracking-wide text-xl trans
}

.form-group input {
    @apply text-lg font-medium py-1 px-0.5 border-b-clr-8 text-clr-2 tracking-wide outline-none border-b-[1.5px] border-clr-2 bg-clr-5 trans rounded-tl-md rounded-tr-md
}

.submit-btn {
    @apply flex items-center justify-center px-7 py-1.5 font-semibold tracking-widest text-xl bg-clr-1 rounded-lg text-clr-7 trans;
}

.fgt-pswd {
    @apply underline text-clr-4 self-end
}

.pswd-container {
    @apply relative;
}

.pswd-container input {
    @apply w-full;
}

.eye {
    @apply absolute top-3 right-3 text-xl text-clr-8;
}

.avatar-btn {
    @apply py-1 px-3 tracking-wider bg-clr-0 border-[0.0875rem] border-clr-2 text-clr-2 font-medium trans cursor-pointer
}

.avatar-btn label {
    @apply text-sm cursor-pointer;
}

.avatar {
    @apply flex flex-col gap-2 items-center
}

.avatar-container {
    @apply w-[9rem] h-[9rem] overflow-hidden rounded-full;
}

.avatar-container img {
    @apply w-full h-full object-cover;
}

.disclosure-btn {
    @apply flex w-full justify-between rounded-lg bg-clr-5 px-4 py-2 text-left text-lg font-semibold text-clr-3 tracking-wider trans
}

.disclosure-btn:hover {
    @apply bg-clr-7 text-clr-2
}

.disclosure-btn:focus {
    @apply outline-none
}

.disclosure-btn:focus-visible {
    @apply ring ring-purple-500 ring-opacity-75
}

.disclosure-panel {
    @apply relative px-4 pt-4 pb-2 text-clr-3
}

.staff-lists {
    @apply grid grid-cols-2 gap-5
}

.staff-url {
    @apply font-medium text-[1rem] w-fit tracking-wide trans
}

.staff-url:hover {
    @apply underline
}

.total-staffs {
    @apply absolute bottom-2 right-2 font-bold text-sm tracking-wider
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.10);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dis-appear {
    0%,
    100% {
        color: rgba(201, 198, 198, 1);
    }

    25%,
    75% {
        color: rgba(201, 198, 198, 0.5);
    }
}