html {
    scroll-behavior: smooth;
}

.trans {
    @apply transition-all ease-in-out duration-200
}

.form-section {
    @apply mt-10 w-[98vw] px-3 py-5 max-w-[600px] mx-auto min-h-[300px] bg-clr-5 rounded-lg card
}

.form-header {
    @apply text-center font-semibold tracking-wider text-2xl md:text-3xl text-clr-1
}

.patient-form {
    @apply mt-5 flex flex-col gap-3
}

label {
    @apply text-[15px] text-clr-2 tracking-wider font-medium
}

input {
    @apply border-[0.08125rem] border-clr-8 py-0.5 px-1 tracking-wide text-[15px] text-clr-2 rounded-md
}

input:focus {
    @apply border-[0.125rem] border-clr-1 outline-none
}

input[type="radio"] {
    @apply appearance-none rounded-full w-4 h-4 border-[0.03125rem] border-clr-2 trans
}

input[type="radio"]:checked {
    @apply bg-clr-1 w-5 h-5
}

.patients {
    @apply px-1.5 flex flex-col gap-3 my-10 max-w-[600px] w-[98vw] mx-auto overflow-y-auto trans relative
}

.patients-header {
    @apply w-full flex flex-col items-center gap-2 font-bold text-2xl md:text-3xl mb-5 tracking-wider
}

.patients-header span {
    @apply rounded-md px-9 py-1 bg-clr-1
}

.patients-link {
    @apply flex justify-between items-center text-center text-sm
}

.patients-link p {
    @apply text-[15px]
}

.patients-list {
    @apply bg-clr-7 py-1 px-2 rounded-lg font-medium text-clr-2 trans
}

.patients-list.show {
    @apply transform translate-x-0;
}

.patients-list {
    @apply transform translate-x-[400%] transition-all ease-in-out duration-[0.4s];
}

.card {
    border-radius: 50px;
    background: rgb(232, 232, 232);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}